@model IEnumerable<BookingViewModel>

@{
    this.ViewData[GlobalConstants.Title] = "Заявки";
}


<section class="contacts section-wrapper">
    <div class="container custom-con">
        <div class="row">
            <h1 class="text-center" style="color: black">@this.ViewData[GlobalConstants.Title]</h1>
            @foreach (var booking in this.Model)
            {
                <div class="col-sm-3 col-md-3 col-lg-3 col-12" style="margin-bottom: 20px">
                    <div class="contact">
                        <div class="contact-icon">
                            <i class="ion-document-text"></i>
                        </div>
                        <div class="contact-name">
                            <strong>Име:</strong> @booking.FirstName @booking.LastName <br />
                            <strong>Телефон:</strong> @booking.PhoneNumber<br />
                            <hr />
                            <strong>От:</strong> <br />
                            <strong>Адрес:</strong> @booking.OriginAddress <br />
                            <strong>Град:</strong> @booking.OriginCity <br />
                            <strong>Страна:</strong> @booking.OriginCountry<br />

                            <hr />
                            <strong>До:</strong> <br />
                            <strong>Адрес:</strong> @booking.DestinationAddress<br />
                            <strong>Град:</strong> @booking.DestinationCity <br />
                            <strong>Страна:</strong> @booking.DestinationCountry

                            @if (booking.Animal is not null)
                            {
                                <hr />
                                <strong>Животно</strong> <br />
                                <text>@booking.Animal.Breed</text>
                            }
                            else if (booking.Baggage is not null)
                            {
                                <hr />
                                <strong>Багаж</strong> <br />
                                <text><strong>Височина:</strong> @booking.Baggage.Height см.</text>

                                <br />
                                <text><strong>Широчина:</strong> @booking.Baggage.Width см.</text>

                                <br />
                                <text><strong>Тегло:</strong> @booking.Baggage.Weight кг.</text>
                            }
                            else if (booking.Vehicle is not null)
                            {
                                <hr />
                                <strong>Мотор</strong>

                                <br />
                                <text> @booking.Vehicle.Type</text>
                            }
                        </div>
                        <a asp-action="Remove" asp-controller="Dashboard" asp-area="@GlobalConstants.AdministrationArea" asp-route-id="@booking.Id" class="btn btn-danger">Премахни</a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

